/*  KEEP OUR CSS CLEAN
    Some guidelines to follow:
    1. Break code down into sections.
    2. Keep your rules alphabetically sorted.
    3. Only put one selector per line for a block of rules that apply to multiple selectors.
    4. Indent your rules, only one rule per line.
    5. Indent proprietary properties with two spaces. Keep these properties directly below the proposed property.
        
        example:
        
        element#id,
        element.class {
            rule1: value;
              -webkit-rule2: value;
              -moz-rule2: value;
            rule2: value;
            top: value;
        }
*/
/* =IMPORT DEPENDENCIES
   ------------------------------------------------------ */
   @import "styles/reset.css";

/* =PRIMARY_CONTENT
   ------------------------------------------------------ */
   #primary_content {
      left: 50%;
      position: absolute;
      top: 50%;
      width: 100px;
   }